@font-face {
    font-family: 'fl-vc-custom-icon-font';
    src: url('../fonts/fl-vc-custom-icon-font.eot?29446921');
    src: url('../fonts/fl-vc-custom-icon-font.eot?29446921#iefix') format('embedded-opentype'),
    url('../fonts/fl-vc-custom-icon-font.woff2?29446921') format('woff2'),
    url('../fonts/fl-vc-custom-icon-font.woff?29446921') format('woff'),
    url('../fonts/fl-vc-custom-icon-font.ttf?29446921') format('truetype'),
    url('../fonts/fl-vc-custom-icon-font.svg?29446921#fl-vc-custom-icon-font') format('svg');
    font-weight: normal;
    font-style: normal;
}


[class^="fl-vc-custom-i-"]:before, [class*=" fl-vc-custom-i-"]:before {
    font-family: "fl-vc-custom-icon-font";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.fl-vc-custom-i-002-snorkel:before { content: '\f100'; } /* '' */
.fl-vc-custom-i-003-sailor:before { content: '\f101'; } /* '' */
.fl-vc-custom-i-004-marine:before { content: '\f102'; } /* '' */
.fl-vc-custom-i-005-yacht:before { content: '\f103'; } /* '' */
.fl-vc-custom-i-006-boat:before { content: '\f104'; } /* '' */
.fl-vc-custom-i-007-ship:before { content: '\f105'; } /* '' */
.fl-vc-custom-i-008-boat-1:before { content: '\f106'; } /* '' */
.fl-vc-custom-i-009-yatch:before { content: '\f107'; } /* '' */
.fl-vc-custom-i-010-lifesaver:before { content: '\f108'; } /* '' */
.fl-vc-custom-i-011-lifebuoy:before { content: '\f109'; } /* '' */
.fl-vc-custom-i-012-float:before { content: '\f10a'; } /* '' */
.fl-vc-custom-i-013-lifebuoy-1:before { content: '\f10b'; } /* '' */
.fl-vc-custom-i-014-chef:before { content: '\f10c'; } /* '' */
.fl-vc-custom-i-015-island:before { content: '\f10d'; } /* '' */
.fl-vc-custom-i-016-beach:before { content: '\f10e'; } /* '' */
.fl-vc-custom-i-017-chef-hat:before { content: '\f10f'; } /* '' */
.fl-vc-custom-i-018-island-1:before { content: '\f110'; } /* '' */
.fl-vc-custom-i-019-island-2:before { content: '\f111'; } /* '' */
.fl-vc-custom-i-020-island-3:before { content: '\f112'; } /* '' */
.fl-vc-custom-i-021-family:before { content: '\f113'; } /* '' */
.fl-vc-custom-i-022-helm:before { content: '\f114'; } /* '' */
.fl-vc-custom-i-023-leadership:before { content: '\f115'; } /* '' */
.fl-vc-custom-i-024-helm-1:before { content: '\f116'; } /* '' */
.fl-vc-custom-i-025-rudder-1:before { content: '\f117'; } /* '' */
.fl-vc-custom-i-026-tools-and-utensils:before { content: '\f118'; } /* '' */
.fl-vc-custom-i-027-helm-2:before { content: '\f119'; } /* '' */
